body
{
	background-color: #635666;
	color:  #D3EBCD;
	text-align:  center;
}

.Nav {
	border: 1px solid white;

	margin-top:  2.5em;
	margin-bottom:  2.5em;
	margin-left:  2.5em;
	margin-right:  2.5em;
	padding-bottom:  2.5em;
}

.LeftButton {
	display:  inline-block;
	float:  left;

	padding: 2.5em 2.5em 2.5em 2.5em;
	margin-left:  2.5em;
	margin-top:  2.5em;
	

	border-radius: 10px;
	border:  1px solid white;

	color:  limegreen;
	background-color: #black;
}

.MiddleButton {
	display:  inline-block;
	text-align:  center;

	margin-top:  2.5em;
	padding: 2.5em 2.5em 2.5em 2.5em;

	border-radius: 10px;
	border:  1px solid white;

	color:  limegreen;
}

.RightButton {
	display:  inline-block;
	float:  right;
	
	margin-top:  2.5em;
	margin-right:  2.5em;
	padding: 2.5em 2.5em 2.5em 2.5em;

	border-radius: 10px;
	border:  1px solid white;

	color:  limegreen;	
}